.container-fluid{
    background-color: rgb(49, 49, 145);
    height: 10%;
    width: 100%;
}

#pic1{
    position: static;
    margin-left: 2cm;
    margin-bottom: 1.5cm;
    margin-top: 0.3cm;
    width: 155px;
    height: 25px;
}

#sp1{
    color: white;
    position: absolute;
    margin-left: 14cm;
    margin-bottom: 0cm;
    margin-top: 0.5cm;
    font-size: 10px;
}

#pic2{
    position: absolute;
    margin-left: 15cm;
    margin-bottom: 0cm;
    margin-top: 0.6cm;
    width: 15px;
    height: 10px;
}

#sp2{
    position: absolute;
    margin-left: 16cm;
    margin-top: 0.5cm;
    font-size: 10px;
    border-color: white;
    background:  rgb(49, 49, 145);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    height: 20px;
}

#sp3{
    position: absolute;
    margin-left: 18.9cm;
    margin-top: 0.5cm;
    font-size: 10px;
    border-color: white;
    background: white;
    color:black;
    border-radius: 5px;
    font-weight: bold;
}

#sp4{
        position: absolute;
        margin-left: 20.5cm;
        margin-top: 0.5cm;
        font-size: 10px;
        border-color: white;
        background: white;
        color:black;
        border-radius: 5px;
        font-weight: bold;
}

#sp5{
    position: absolute;
    margin-left: 2cm;
    margin-top: -1cm;
    color: white;
    background-color:rgb(65, 65, 148);
    font-size: 15px;
    line-height: 30px;
    border-color: rgb(49, 49, 145);
}

#sp6{
    position: absolute;
    margin-left: 6cm;
    margin-top: -1cm;
    color: white;
    font-size: 15px;
    line-height: 30px;
}

#sp7{
    position: absolute;
    margin-left: 8cm;
    margin-top: -1cm;
    color: white;
    font-size: 15px;
    line-height: 30px;
}

#sp8{
    position: absolute;
    margin-left: 11cm;
    margin-top: -1cm;
    color: white;
    font-size: 15px;
    line-height: 30px;
}

#p1{
    font-size: 15px;
    word-spacing: 3.5px;
    line-height: 0.5;
    margin-left: -15px;
}

.col-5{
    border: 4px;
    border-right-width: 2px;
    border-style: solid;
    border-color: rgb(243, 170, 36);
    line-height: 1.5cm;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 20px;
    font-weight: 600;
    background-color: white;
}

.col-3{
    border: 4px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-style: solid;
    border-color: rgb(243, 170, 36);
    line-height: 1.5cm;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    background-color: white;
}

.col-1{
    border: 4px;
    border-left-width: 2px;
    border-style: solid;
    border-color: rgb(243, 170, 36);
    line-height: 1.5cm;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(5, 129, 201);
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.im2{
    width: 17px;
    height: 17px;
}

#d1{
    font-size: 13px;
    line-height: 1cm;
    margin-left: -14px;
}

#d2{
    border: 1px;
    border-style: solid;
    border-color: rgb(233, 233, 233);
    height: 270px;
    background-color: rgb(247, 245, 245);
}
.container{
    
    height: 270px;
    
}

#con1{
    border: 1px;
    border-style: solid;
    border-color: rgb(233, 233, 233);
    height: 60px;
    background-color: white
}

.col-12{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    word-spacing: 1px;
    margin-left: 25px;
}

#im3{
    width: 40px;
    height: 40px;
    margin-left: -30px;
    margin-bottom: 10px;
}

#sp9{
    font-size: 14px;
    font-weight: bold;
    color: rgb(41, 41, 248);
    text-decoration-line: underline;
}

#im4{
    width: 20px;
    height: 20px;
    margin-left: 610px;
    margin-bottom: 15px;
    margin-top: 10px;
}

#TA{
    position: relative; 
    background-image: url(TA.jpg);
    background-repeat: no-repeat;
    background-size: 100%;  
    width: 580px;
    height: 250px;
    border-right:20px;
    border-left: 1px;
    border-style: solid;
    border-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    vertical-align: top;
    margin-left: 25px;
}

#EI{
    position: relative;
    background-image: url(EI.jpg);
    background-repeat: no-repeat;
    background-size: 100%;  
    width: 580px;
    height: 250px;
    border-left:20px;
    border-right: 1px;
    border-style: solid;
    border-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    vertical-align: top;
    margin-left: 25px;
}

.sp10{
color: white;
position: absolute;
font-size: 25px;
font-weight: 1000;
margin-top: 20px;
margin-left: 10px;
text-shadow: 1px 1px rgba(0, 0, 12, 0.911);

}

.sp11{
    position: relative;
    margin-left: 10px;
    text-shadow: 1px 1px rgba(0, 0, 12, 0.911);
}

.sp12{
    position: absolute;
    margin-left: 455px;
    background-color: rgba(44, 42, 42, 0.856);
    text-align: right;
    font-size: 13px;
}

#im5{
    position: static;
    width: 21px;
    height: 17px;
    margin-left: 115px;
    margin-top: 35px;
}

#im6{
    position: static;
    width: 21px;
    height: 17px;
    margin-left: 70px;
    margin-top: 35px;
}
